.container {
  width: 300px;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 22px;
}

.number {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 28px;
}
